.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 6px 4px;
    z-index: 10;
}

.burger__line {
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    width: 21px;
    height: 3px;
    background-color: #fdfdfd;
    transition: opacity 0.5s ease, transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.burger__line:first-child {
    transform: rotate(0deg);
    transform-origin: center;
    top: 6px;
}

.burger__line:nth-child(2){
    transform: translateX(0);
    transform-origin: center;
    top: 13px;
}

.burger__line:last-child{
    transform: rotate(0deg);
    transform-origin: center;
    bottom: 7px;
    right: 5px;
    width: 12px
}

.burger--active .burger__line:first-child {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}
.burger--active .burger__line:last-child {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
    width: 21px;
}

.burger--active .burger__line:nth-child(2) {
    opacity: 0;
    transform: translateX(150%);
}