.inner-header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: #fdfdfd;

    padding: 5px;
}

@media (any-hover: hover) {
    .nav__link:hover {
        color: #1a3e3e;
        text-decoration: underline;
    }
}